# Weather API Configuration
REACT_APP_WEATHER_API_BASE_URL=https://api.openweathermap.org/data/2.5/weather
REACT_APP_WEATHER_API_KEY=your_openweather_api_key

# EmailJS Configuration
REACT_APP_EMAILJS_SERVICE_ID=your_emailjs_service_id
REACT_APP_EMAILJS_TEMPLATE_ID=your_emailjs_template_id
REACT_APP_EMAILJS_PUBLIC_KEY=your_emailjs_public_key
